//
// Override global variables
//

// Theme colors
$primary: #007bff;
$primary-hover: rgba(0, 123, 255, 0.58);
$primary-light: rgba(191, 235, 245, 0.65);
$primary-inverse: #ffffff;

// Border Radiues
$border-radius: 0.85rem;
